<header>
<nav>
    <a href="/">Lybrary</a>
    <ul>
        <li><a href="http://localhost:3000/authors">Autores</a></li>
        <li><a href="http://localhost:3000/authors/new">Añadir Autor</a></li>
        <li><a href="http://localhost:3000/books">Libros</a></li>
        <li><a href="http://localhost:3000/books/new">Añadir Libro</a></li>
    </ul>
</nav>
</header>