<h2>Últimos Libros Añadidos</h2>
<div>
    <% books.forEach(element => { %> 
    <div>
        <img height="150" width="100" src="<%= element.coverImageNameDeciphered %>">
       <% }) %>
    </div>
</div>