<h2>Nuevo Autor</h2>
<!-- Creating form inside authors/new route & redirecting results to router '/' POST -->
<form action="/authors"  method="POST">
<%- include('_form_fields.ejs') %>  
    <a href="/authors">Cancelar</a> <!-- Anchor reference (no btn) as cancel btn just redirect, so does not interact with an objetc -->
    <button type="submit">Crear</button> <!-- send back to authors '/' route once completed (hook of the POST route) & render new data over that route -->
</form>